/* BASE STYLES */

:root {
  --blue: #2a68d4;

  --black: #333;
  --gray: #828385;
  --white: #fff;

  --spacing-unit: 8px;

  --spacing-50: calc(var(--spacing-unit) / 2);
  --spacing-100: var(--spacing-unit);
  --spacing-200: calc(var(--spacing-unit) * 2);
  --spacing-600: calc(var(--spacing-unit) * 6);

  --border-radius: var(--spacing-50);

  font-family: "CooperHewitt", Inter, "sans-serif";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: "CooperHewitt";
  src: url("./fonts/CooperHewitt-Book.ttf");
}

@font-face {
  font-family: "CooperHewitt";
  src: url("./fonts/CooperHewitt-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "CooperHewitt";
  src: url("./fonts/CooperHewitt-Light.ttf");
  font-weight: 300;
}

/* ELEMENTS */

a {
  font-weight: 500;
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html {
  height: 100%;
  width: 100%;
  background: var(--black);
}

img {
  max-width: 100%;
  object-fit: cover;
}

[id="root"] {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100%;
  height: 100%;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

li {
  list-style: none;
}

input {
  padding: var(--spacing-100) var(--spacing-200);
  border: 1px solid var(--gray);
  border-radius: var(--border-radius);
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: var(--spacing-600);
}

button {
  border: 1px solid var(--gray);
  border-radius: var(--border-radius);
  color: white;
  height: var(--spacing-600);
  padding: var(--spacing-100) var(--spacing-200);
  height: var(--spacing-600);
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover:not(:disabled) {
  border-color: var(--blue);
}
button:focus,
button:focus-visible {
  outline: var(--spacing-50) auto -webkit-focus-ring-color;
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

/* UTILITIES */

.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-100);
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc((700px - 100%) * 999);
}

.switcher > :nth-last-child(n + 3),
.switcher > :nth-last-child(n + 3) ~ * {
  flex-basis: 100%;
}

/* PAGE STYLES */

main.home {
  width: min(100%, 900px);
  height: max(60%, 500px);
  text-align: center;
}

main.searchResults {
  width: min(100%, 1200px);
  padding: var(--spacing-100);
}

.searchForm {
  display: flex;
  justify-content: center;
}

.searchForm button {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.actions {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-200);
}

.searchSection {
  text-align: center;
}

.resultsList {
  display: flex;
  gap: var(--spacing-200);
  flex-direction: column;
  padding: 0;
}

.result {
  flex: 1;
  border: 1px solid var(--gray);
  border-radius: var(--border-radius);
  padding: var(--spacing-100);
  transition: transform 150ms ease-in-out, opacity 150ms ease-in-out;
}

.result[data-state="loading"] {
  opacity: 0.8;
}

.result a {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: var(--spacing-100);
}

.result a:hover {
  text-decoration: none;
}

.resultsList:hover > .result:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.resultsList:hover > .result:not(:hover) {
  opacity: 0.5;
}

.result .avatarContainer {
  min-width: var(--spacing-600);
}

.result .avatar {
  height: var(--spacing-600);
  width: var(--spacing-600);
  border-radius: 50%;
}

.result .nameContainer {
  display: flex;
  gap: var(--spacing-200);
}

.result .userLogin {
  font-weight: 300;
}

@media (prefers-reduced-motion: no-preference) {
  .resultsList:hover > .result:hover {
    transform: scale(1.05);
    z-index: 10;
  }
}
